Source: synthv1
Section: contrib/sound
Priority: extra
Maintainer: Rui Nuno Capela <rncbc@rncbc.org>
Build-Depends: debhelper (>= 5), automake, pkg-config,
  qtchooser, qtbase5-dev (>= 5.1), qtbase5-dev-tools (>= 5.1),
  qttools5-dev-tools (>= 5.1), libjack-dev, libasound2-dev,
  lv2-dev, liblo-dev
Standards-Version: 3.9.7

Package: synthv1
Architecture: any
Depends: libjack0, ${shlibs:Depends}, ${misc:Depends}
Description: an old-school polyphonic synthesizer
  An old-school 4-oscillator subtractive polyphonic synthesizer
  with stereo fx.

