Source: synthv1
Section: contrib/sound
Priority: extra
Maintainer: Rui Nuno Capela <rncbc@rncbc.org>
Build-Depends: debhelper (>= 5), automake, pkg-config,
  qtbase5-static (>= 5.13.1), libjack-dev | libjack-jackd2-dev,
  libasound2-dev, lv2-dev, liblo-dev
Standards-Version: 3.9.7

Package: synthv1
Architecture: any
Depends: libjack0 | libjack-jackd2-0, ${misc:Depends}, ${shlibs:Depends}
Replaces: synthv1-common (<= ${source:Version})
Description: An old-school polyphonic subtractive synthesizer - JACK standalone
  An old-school all-digital 4-oscillator subtractive polyphonic synthesizer
  with stereo fx.
  .
  This package provides the standalone JACK client application (synthv1_jack)
Replaces: synthv1-common

Package: synthv1-lv2
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Replaces: synthv1-common (<= ${source:Version})
Description: An old-school polyphonic subtractive synthesizer - LV2 plugin
  An old-school all-digital 4-oscillator subtractive polyphonic synthesizer
  with stereo fx.
  .
  This package provides the LV2 plugin (http://synthv1.sourceforge.net/lv2)
