#!/usr/bin/make -f
#

%:
	dh $@

override_dh_auto_configure:
	# Add here commands to configure the package.
	source /opt/qtbase5-static/*/bin/qtbase5-static-env.sh

	./autogen.sh
	./configure --prefix=/usr --with-qt=$(QTDIR)
	# --- end custom part for configure

override_dh_clean:
	# Add here commands to clean up after the build process.
	./autogen.sh clean
	# --- end custom part for cleaning up

	dh_clean
